# Laravel
/bootstrap/compiled.php
/vendor

# Configuration
/app/config/local
/app/config/staging
/app/config/production


# Basset development collections
/public/assets/compiled


# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/
*.log
Boxfile

# Packages
_ide_helpers.php